.main 
  .main__container.container
    h1.margin-reset.main__title Клиенты
    include ./table
    button.btn-reset.main__mbtn.mbtn
      +svg('clientsvg', 'mbtn')
      span.mbtn__text Добавить клиента