// colors:
$firm: #9873ff;
$firm_light: #b89eff;
$firm_shade: #8052ff;
$firm_middle: #7b61ff;

$red: #f06a4d;

$black_deep: #000000;
$black: #333333;

$grey_shade: #9a9a9a;
$grey: #c8c5d1;
$txt_grey: #b0b0b0;
$grey_middle: #bcbcbc;
$grey_light: #c4c4c4;
$grey_bright: #dddddd;
$grey_select: #e7e5eb;
$grey_noselect: #f4f3f6;

$background: #f5f5f5;
$white_dirty: #f4f3f6;
$white: #ffffff;
