include ./tools/_mixins

doctype html
html(lang="ru")
  include ./modules/head
  body(style={display: 'none'})
    include ./modules/header
    include ./modules/main
    include ./modules/modal